<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi primer sitio web con python</title>
</head>
<body>
    <h1> hola hola cara de bola</h1>
    <p>
        lo ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti ab quisquam. Dolor iste ut, molestiae possimus magnam aliquam ratione animi maxime deserunt dignissimos minus iusto necessitatibus nulla eum modi.
    </p>
</body>
</html>